<?php
// module/Admin/view/admin/user/index.phtml:

$title = 'Users';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('users', array('action'=>'add'));?>">Add new user</a>
</p>

<table class="table">
<tr>
    <th>User</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($users as $user) : ?>
<tr>
    <td><?php echo $this->escapeHtml($user->getFirstname() . ' ' . $user->getSurname()); ?></td>
    <td>
        <a href="<?php echo $this->url('users',
            array('action'=>'edit', 'id' => $user->getUid()));?>">Edit</a>
            
        <a href="<?php echo $this->url('users',
            array('action'=>'delete', 'id' => $user->getUid()));?>">Delete</a>
    </td>
</tr>
<?php endforeach; ?>
</table>