<div class="content product-info" role="main">
    <section class="aux reviews" id="reviews">
    	<header id="tab-reviews">
        	<a href="category.html">
                <h1><?php echo $this->escapeHtml($this->category->getDescription()); ?></h1>
            </a>
        </header>
    	<!-- the below was loaded in via init.js, removed for development -->
        <div role="tabpanel">
        	<?php echo $this->productList(); ?>
        </div>
    </section><!--end .reviews-->
</div><!--end .content-->