<form action="<?php echo $this->url('auth', array('action' => 'login')); ?>" method="post">
	<input type="text" name="u" />
	<input type="text" name="p" />
	<input type="submit" name="dologin" value="Submit" />
</form>