<div class="content product-info" role="main">
    <section class="aux reviews" id="reviews">
    	<header id="tab-reviews">
        	<a href="category.html">
                <h1>Review Index Action</h1>
            </a>
        </header>
        <div role="tabpanel">
        </div>
    </section><!--end .reviews-->
</div><!--end .content-->