<div class="content product-info" role="main">
    <section class="aux reviews" id="reviews">
    	<header id="tab-reviews">
        	<a href="category.html">
                <h1><?php echo $this->escapeHtml($this->product->getTitle()); ?></h1>
            </a>
        </header>
        <div role="tabpanel">
            <div id="p-reviews" aria-labeledby="tab-reviews">
            	<?php if($this->reviews->count() == 0) : ?>
            		<p>No reviews yet, sorry. Check back soon!</p>            	
            	<?php else :?>
                    <ol class="reviews-list">
                		<?php foreach($this->reviews as $review) : ?>
                			<?php
                			    $rating = (int)round($review->getRating());
                			    $left = ($review->getRateValue() - $rating);
                			?>
                            <li>
                                <img src="/images/avatar.png" alt="Commenter Name" />
                                <div class="review-meta">
                                    <ol class="star">
                                    	<?php if($rating > 0) : ?>
                                    		<?php echo str_repeat(' <li class="on">&#9733;</li> ', $rating); ?>
                                    		<?php echo str_repeat(' <li>&#9734;</li> ', $left); ?>                                   	
                                    	<?php else: ?>
                                    		<li>&#9734;</li>
                                    		<li>&#9734;</li>
                                    		<li>&#9734;</li>
                                    		<li>&#9734;</li>
                                    		<li>&#9734;</li>                                   	
                                    	<?php endif; ?>
                                    </ol>
                                    <h3><a href=""><?php echo $this->escapeHtml($review->getTitle()); ?></a></h3>
                                </div>
                                <div class="review-content">
                                	<p><?php echo $this->escapeHtml($review->getContent()); ?></p>
                                </div>
                            </li>
                        <?php endforeach; ?>
                    </ol>
                <?php endif; ?>
            </div>
        </div>
    </section><!--end .reviews-->
</div><!--end .content-->