  /************End Global**************/
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
/************End Global**************/

/************End Global**************/
.btn {
	display: inline-block;	
}
/************End Global**************/


/************Structure**************/
.logo {
	margin: 0;
	font-size: 1.6em;
	position: relative;
	z-index: 1;
}
.logo a {
	display: block;
	width: 120px;
	height: auto;
	padding: 0.6em 1em 0.4em 0.7em;
}
.logo img {
	width: 120px;
	height: auto;	
}
.nav-anchors {
	display: none;
}
.nav {
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}
header[role="banner"] .nav {
	float: left;
	clear: none;
	margin: 0;
	border-top: 0;
}
.search {
	border: 0;
	padding: 0;
	position: absolute;
	top: 0.8em;
	right: 1em;
	width: 10em;
}
.queryselectorall .search, .queryselectorall [role="banner"] .nav {
	display: block;
}
.product-main {
	padding-bottom: 2em;
}
.product-img {
	float: left;
	width: 50%;
	height: auto;
	margin-top: -4.8em;
}
.product-main > header {
	padding-top: 1em;
}
.product-main > header, .product-desc, .product-form, .product-utils, .product-description {
	padding-left: 2em;
	margin-left: 50%;
}
/*Aux content*/
.aux {
	padding: 1em 0;
}
.aux header {
	cursor: default;
	padding: 0;
	border: 0;
	
}
.aux header a:after, .aux header a.open:after {
	content: "";
}
[aria-hidden="true"] {
	display: block;
}
.product-description header {
	display: none;
}
.reviews {
	padding-bottom: 3em;
}
/*Related*/
.related-products {
	clear: both;
	border: 0;
}
.related-products header {
	border: 0;
}
.related-products li {
	width: 16.6666667%;
}
.related-nav a {
	position: absolute;
	top: 50%;
	left: -2.5em;
	z-index: 0;
	display: block;
	height: 160px;
	width: 2.5em;
	text-indent: -99999em;
	background: url(/images/arrow2_left_on.gif) no-repeat 50% -65px;	
}
.related-nav a.nav-next {
	left: auto;
	right: -2.5em;
	background: url(/images/misc/arrow2_right_on.gif) no-repeat 50% -65px;	
}
/*Reviews*/
.reviews {
	border: 0;
}
.reviews-list img {
	max-width: 6em;
	max-height: 6em;
	margin: 0 1em 0 0;
}
.review-meta {
	font-size: 1em;
	float: left;
	width: 30%;
	padding-top: 0.8em;
}
.review-content {
	clear: none;
	padding-top: 0.8em;
	margin-left: 50%;
}
.reviews .btn {
	display: block;
	margin: 0 auto;
	max-width: 11em;
}

/*Footer*/
.footer ul {
	margin: 0;	
}
.footer .nav {
	float: left;	
}
.footer .nav li a {
	padding: 1.3em;
	line-height: 1;
}
.footer ul.service-links {
	float: right;
	margin-top: 0.9em;
}
.service-links li.tel {
	display: inline-block;
}	
.service-links li.tel a {
	display: inline;	
}

/************End Structure**************/
@media screen and (min-width: 40.5em) and (max-width: 60em) {
	.product-img {
		width: 60%;
	}
	.product-main > header, .product-desc, .product-form, .product-utils, .product-description {
		margin-left: 60%;
		padding-left: 1em;
	}
}

@media screen and (min-width: 60em) {
	.product-img {
		width: 67%;
	}
	.product-main > header, .product-desc, .product-form, .product-utils, .product-description {
		padding-left: 2em;
		margin-left: 67%;
	}
	.product-share {
		margin: 0;
		width: 19%;
		float: left;
	}
	.img-container {
		margin-left: 7em;
	}
	.product-img nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 6em;
	}
	.product-img nav li {
		display: block;
		margin: 0 0 1em;
	}
	.product-img nav img {
		width: auto;
	}
	.submit-form input {
		position: relative;
		z-index: 1;
	}
	.product-utils {
		position: relative;
		z-index: 0;
	}
	.reviews-list > li {
		padding: 2em 7em;
	}
}

/************Comment Mode**************/
#comment-link { 
	position: fixed; 
	bottom: 0; right: 0; 
	z-index: 4; 
	width: 100px; 
	height: 100px; 
	overflow: hidden;
	line-height: 1;
}
.csstransforms #comment-link a { 
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg); 
	-ms-transform: rotate(-45deg); 
	width: 182px; 
	height: 100px; 
	margin-top: 40px;
	padding: 5px; 
	text-align: center; 
}
#comment-link a strong {
	display: block;
}
#comment-container {
	position: fixed;
	top: auto;
	padding: 1em 1em 4em;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transition: bottom 0.3s ease-out;
	-moz-transition: bottom 0.3s ease-out;
  	-webkit-transition: bottom 0.3s ease-out;
  	-ms-transition: bottom 0.3s ease-out; 
  	-o-transition: bottom 0.3s ease-out; 
  	transition:  bottom 0.3s ease-out;
}
#close-comments {
	display: block;	
}

/* For IE 7, which doesn't support display: inline-block; */
label, input,textarea, .nav-anchors li, .nav li, .price, .star, .star li, .product-img nav, .product-img nav li, .product-utils a, .reviews header h2, .footer li {
	zoom: 1;
	*display: inline;
}