<div class="content product-info" role="main">

	<section class="product-main">
    	<header>
			<h1 class="product-name"><?php echo $this->escapeHtml($this->product->getTitle()); ?></h1>
            <div class="product-overview">
            	<strong class="price">&pound;<?php echo $this->escapeHtml($this->product->getPrice()); ?></strong>
            	<ol class="star">
                	<li class="on">&#9733;</li>
                    <li class="on">&#9733;</li>
                    <li class="on">&#9733;</li>
                    <li class="on">&#9733;</li>
                    <li>&#9734;</li>
                </ol>
                <a href="#reviews" class="review-count">8 Reviews</a>
            </div>
		</header>
		<?php echo $this->imageSlider($this->images); ?>
        <form method="post" action="<?php echo $this->url('basket', array('action' => 'add')); ?>" id="product-form" class="product-form">
        	<input type="hidden" name="productUid" value="<?php echo $this->escapeHtml($this->product->getUID()); ?>" />
<!--        	<input type="hidden" name="csrf" value="" />-->
            <fieldset>
                <legend>Add to Cart</legend>
                <!-- TODO: product attributes
                <div class="field qty-field">
                    <label for="qty">Qty</label>
                    <input name="qty" id="qty" class="qty" type="number" pattern="[0-9]*" value="1" min="1" max="999" />
                </div>
                <div class="field size-field">
                    <label for="size">Size</label>
                    <select id="size" name="size">
                        <option value="S">S</option>
                        <option value="S">M</option>
                        <option value="S">L</option>
                        <option value="S">XL</option>
                    </select>
                </div>
                -->
                <div class="submit-form">
                    <input type="submit" class="btn" value="Add to Cart" />
                </div>
            </fieldset>
        </form><!--end #product-form-->
        <div class="product-utils">
        	<a href="#" class="share-btn">Share</a>
        	<a href="#" class="find-nearby">Find Nearby</a>
        </div>
        <div class="product-description"> 
            <div id="p-desc">
            	<p><?php echo $this->escapeHtml($this->product->getDescription()); ?></p>
            </div>
        </div><!--end .product-description-->
	</section><!--end .product-main-->
	
    <section class="aux related-products" id="related-products">
		<header id="tab-related">
        	<a href="related.html">
            	<h2>Similar T-shirts</h2>
            </a>
        </header>
    	<!-- the below was loaded in via init.js, removed for development -->
        <div role="tabpanel">
        	<?php echo $this->productLinkList(); ?>
        </div>
	</section><!--end .related-products-->
	
    <section class="aux2 reviews" id="reviews">
    	<header id="tab-reviews">
        	<a href="reviews.html">
                <h2>8 Reviews</h2>
                <ol class="star">
                    <li class="on">&#9733;</li>
                    <li class="on">&#9733;</li>
                    <li class="on">&#9733;</li>
                    <li class="on">&#9733;</li>
                    <li>&#9734;</li>
                </ol>
            </a>
        </header>
    </section><!--end .reviews-->
    
</div><!--end .content-->