<!doctype html>
<html class="no-js">
<head>
	<title>Mobile-First Responsive Web Design</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" type="text/css" href="/style.css" media="screen, handheld" />
	<link rel="stylesheet" type="text/css" href="/enhanced.css" media="screen  and (min-width: 40.5em)" />
	<!--[if (lt IE 9)&(!IEMobile)]>
	<link rel="stylesheet" type="text/css" href="/enhanced.css" />
	<![endif]-->
	<script type="text/javascript" src="/js/modernizr.js"></script>
</head>
<body id="page">
<header role="banner">
	<div>
        <h1 class="logo"><a href="<?php echo $this->url('home'); ?>"><img src="/images/logo_new.png" alt="Ffly" /></a></h1>
        <ul  id="nav-anchors" class="nav-anchors">
        	<li><a href="#nav" id="menu-anchor">Menu</a></li>
        	<li><a href="#search" id="search-anchor">Search</a></li>
        </ul>
        <form id="search" action="<?php echo $this->url('search', array('action' => 'index')); ?>" method="post" class="search reveal">
            <fieldset>
                <legend>Search the Site</legend>
                <label for="search-site">Search the site</label>
                <input type="search" id="search-site" placeholder="Search Store" name="search" />
                <input type="submit" value="Search" />
            </fieldset>
        </form>
		<nav class="nav reveal" id="nav">
			<ul role="navigation">
				<li><a href="/category/index/2">T-Shirts</a></li>
				<li><a href="/category/index/3">Hoodies</a></li>
				<li><a href="/category/index/4">Pants</a></li>
			</ul>
		</nav>
        <?php //echo $this->mainNav(); ?>
    </div>
</header><!--end .header-->
<?php echo $this->content; ?>
<footer class="footer">
	<div>
        <?php echo $this->footerNav(); ?>
        <ul class="service-links">
            <li class="tel" ><a href="tel:+1-800-275-2273" title="Call our customer Service">Call 800-888-8888</a></li>
            <li><a href="#">About</a></span></li>
            <li><a href="#page" class="top">Back to Top</a></li>
        </ul>
    </div>
</footer><!--end .footer-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script type="text/javascript" src="/js/init.js "></script>
<script type="text/javascript" src="/js/comments.js "></script>
</body>
</html>