<?php
// module/Admin/view/admin/category/index.phtml:

$title = 'Categories';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('categories', array('action'=>'add'));?>">Add new category</a>
</p>

<?php if($categories->count() > 0) : ?>
    <table class="table">
    <tr>
        <th>Category</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($categories as $category) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($category->getTitle());?></td>
            <td>
                <a href="<?php echo $this->url('categories',
                    array('action'=>'edit', 'id' => $category->getUid()));?>">Edit</a>
                    
                <a href="<?php echo $this->url('categories',
                    array('action'=>'delete', 'id' => $category->getUid()));?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
    </table>
<?php else: ?>
<p>No Categories to list.
<?php endif; ?>
<br />
<br />
<?php echo $this->treeHtml; ?>