<div class="content product-info" role="main">
    <section class="aux reviews" id="reviews">
    	<header id="tab-reviews">
    		<h1>Basket ADD Test Page (<?php echo $this->message; ?>)</h1>
            	<?php var_dump($this->basket); ?>
    	</header>
    </section><!--end .reviews-->
</div><!--end .content-->