<div class="content product-info" role="main">
    <section class="aux reviews" id="reviews">
    	<header id="tab-reviews">
    		<h1>Basket <?php //echo $this->message; ?></h1>
    	</header>
    	<!-- the below was loaded in via init.js, removed for development -->
        <div role="tabpanel">
            <div id="p-reviews" aria-labeledby="tab-reviews">
            	<?php echo print_r($this->basket, true); ?>
                <ol class="reviews-list">
                    <li>
                        <img src="/images/avatar.png" alt="Commenter Name" />
                        <div class="review-meta">
                            <ol class="star">
                                <li class="on">&#9733;</li>
                                <li class="on">&#9733;</li>
                                <li class="on">&#9733;</li>
                                <li class="on">&#9733;</li>
                                <li>&#9734;</li>
                            </ol>
                            <h3><a href="">Awesome shirt!</a></h3>
                        </div>
                        <div class="review-content">
                        	<p>This shirt looks awesome and is really comfortable to wear. It did shrink quite a lot when washed, but that could have just been how I ran it. All in all, it's my favourite shirt, and I love wearing it.</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section><!--end .reviews-->
</div><!--end .content-->