<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex,nofollow">
	<meta name="description" content="Description">
	<meta name="keywords" content="keyword, keyword, keyword">
		
	<title>Bootstrap Admin</title>
	
</head>
<body>
<?php echo $this->content; ?>
</body>
</html>