<?php
// module/Admin/view/admin/product/index.phtml:

$title = 'Products';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('products', array('action'=>'add'));?>">Add new product</a>
</p>

<table class="table">
<tr>
    <th>Product</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($products as $product) : ?>
<tr>
    <td><?php echo $this->escapeHtml($product->getTitle());?></td>
    <td>
        <a href="<?php echo $this->url('products',
            array('action'=>'edit', 'id' => $product->getUid()));?>">Edit</a>
            
        <a href="<?php echo $this->url('products',
            array('action'=>'delete', 'id' => $product->getUid()));?>">Delete</a>
    </td>
</tr>
<?php endforeach; ?>
</table>