<div class="content product-info" role="main">
	<section class="product-main">
    	<header>
			<h1 class="product-name">Supa Ecomm Shop</h1>
            <div class="product-overview">&nbsp;</div>            
		</header>
		<div class="product-img" id="product-img"><figure id="img-container" class="img-container"><div id="img-list" class="loading"><ul><li data-imgsrc="/images/product/1t561x378.jpg" style="display: list-item;"><img src="/images/product/1t561x378.jpg"></li><li data-imgsrc="/images/product/2t561x378.jpg" style="display: none;"></li><li data-imgsrc="/images/product/3t561x378.png" style="display: none;"></li></ul></div></figure><nav><ul><li class="active"><a href="/images/product/1t561x378.jpg"><img alt="Super Ffly Men's Shirt" src="/images/product/1t94x63.jpg"></a></li><li><a href="/images/product/2t561x378.jpg"><img alt="Super Ffly Men's Shirt" src="/images/product/2t94x63.jpg"></a></li><li><a href="/images/product/3t561x378.png"><img alt="Super Ffly Men's Shirt" src="/images/product/3t94x63.png"></a></li></ul></nav></div>
        <div class="product-utils">
        </div>
        <div class="product-description"> 
            <div id="p-desc">
            	<?php if(!isset($this->home)) : ?>
            		<p>Welcome to my e-commerce store.</p>
            	<?php else : ?>
            		<p><?php echo $this->escapeHtml($this->home->getContent()); ?></p>
            	<?php endif; ?>
            </div>
        </div><!--end .product-description-->
	</section><!--end .product-main-->
    <section class="aux related-products" id="related-products">
		<header id="tab-related">
        	<a href="related.html">
            	<h2>Product Picks</h2>
            </a>
        </header>
    	<!-- the below was loaded in via init.js, removed for development -->
        <div role="tabpanel">
        	<?php echo $this->productLinkList(); ?>
        </div>
	</section><!--end .related-products-->
</div><!--end .content-->